.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    user-select: none;
}

.taskName {
    font-size: 50px;
    margin-bottom: 20px;
}

.timeLeft {
    font-size: 48px;
    font-weight: bold;
}